In [245]:
import json
import pandas as pd
import os
from os.path import basename, splitext

In [246]:
list_city_dt = []

for file_in in os.listdir(r'../instances'):
    base_file = splitext(basename(file_in))[0]
    base_file_split = base_file.split('_')
    file = base_file_split[0]+'_'+base_file_split[1]
    list_city_dt.append(file)

list_city_dt = list(set(list_city_dt))
list_city_dt.sort()

In [247]:
RM = 1.5
GM = 0.8

In [248]:
def load_workforce(workforce_file, OC, RM, GM, model, max_n_shifts=None):
    with open(workforce_file, 'r') as file:
        data = json.load(file)
        data_df = pd.DataFrame(data)
        df_workforce = pd.DataFrame(data)
    df_workforce = df_workforce[(df_workforce['outsourcing_cost_multiplier']==OC)&(df_workforce['regional_multiplier']==RM)&(df_workforce['global_multiplier']==GM)]
    #fixed or flex
    if model in ['fixed','flex']:
        df_workforce = df_workforce[df_workforce['model']==model]
    #partflex
    else:
        df_workforce = df_workforce[(df_workforce['model']==model)&(df_workforce['max_n_shifts']==max_n_shifts)]
    df_workforce.reset_index(drop = True, inplace=True)
    return df_workforce

In [249]:
for base_file in list_city_dt:
    results = pd.DataFrame()
    workforce_excel = pd.read_excel(f'../workforce_size/{base_file}_all_trials.xlsx')
    workforce_excel.loc[workforce_excel['max_n_shifts'].isna(), 'max_n_shifts'] = 0
    workforce_excel['not_optimal'] = workforce_excel.groupby(by = ['instance','outsourcing_cost_multiplier','model','max_n_shifts'])['workforce_size_trial'].transform('max')
    workforce_excel = workforce_excel[workforce_excel['not_optimal']!=workforce_excel['workforce_size_trial']]
    workforce_excel.drop(columns = ['not_optimal'], inplace = True)
    workforce_excel.reset_index(drop = True, inplace = True)
    
    with open(f'../workforce_size/{base_file}.json', 'r') as file:
        data = json.load(file)
        data_df = pd.DataFrame(data)

    for model in ['flex',  'partflex', 'fixed']:
            if model == 'partflex':
                for max_n_shifts in [4, 3, 2]:
                    previous_value = 0
                    for OC in [1.2, 1.5, 1.8, 2.0, 2.5]:

                        # Load Json
                        workforce_json  = load_workforce(f'../workforce_size/{base_file}.json', OC, RM, GM, model, max_n_shifts)

                        # Subset the excel file
                        subset_excel = workforce_excel[(workforce_excel['outsourcing_cost_multiplier']==OC)\
                                                    &(workforce_excel['region_multiplier']==RM)\
                                                        &(workforce_excel['global_multiplier']==GM)\
                                                            &(workforce_excel['model']==model)\
                                                              &(workforce_excel['max_n_shifts']==max_n_shifts)]

                        # Rounding the objective values to two decimal places 
                        subset_excel.loc[:, 'objective_value'] = subset_excel['objective_value'].round(5)

                        # Finding the minimum objective value rounded to two decimal places
                        maximum_obj_val = subset_excel['objective_value'].min()

                        # Finding the workforce size corresponding to the minimum objective value
                        workforce_size = subset_excel[subset_excel['objective_value'] == maximum_obj_val]['workforce_size_trial'].min() + 1

                        if workforce_size < previous_value:
                            workforce_size = previous_value
                        
                        # Update the Json 
                        data_df.loc[
                            (data_df['outsourcing_cost_multiplier'] == OC) &
                            (data_df['regional_multiplier'] == RM) &
                            (data_df['global_multiplier'] == GM) &
                            (data_df['model'] == model) &
                            (data_df['max_n_shifts'] == max_n_shifts),
                            'workforce_size_region0'
                        ] = workforce_size
                    
                        dict_out = {} 
                        for col in data_df.columns: 
                                dict_out[col]=data_df[col].tolist()
                        # Save the updated Json
                        with open(f'../workforce_size/{base_file}.json', 'w') as file:
                            json.dump(dict_out, file, indent=4)

                        # Make results table
                        results_temp = pd.DataFrame({'outsourcing_cost_multiplier': OC, 'regional_multiplier': RM, 'global_multiplier': GM, 'model': model, 'max_n_shifts':max_n_shifts, 'workforce_size': workforce_size}, index=[0])
                        results = pd.concat([results, results_temp])

                        # Check if workforce size is increasing
                        if results['workforce_size'].diff().values[-1] < 0 and OC != 1.2:
                            print(f'Error: Workforce size is decreasing for OC = {OC}, model = {model}, base_file = {base_file}, max_n_shifts = {max_n_shifts}')
                        previous_value = workforce_size
            else:
                previous_value = 0
                for OC in [1.2, 1.5, 1.8, 2.0, 2.5]:
                
                    # Load Json
                    workforce_json = load_workforce(f'../workforce_size/{base_file}.json', OC, RM, GM, model)

                    # Subset the excel file
                    subset_excel = workforce_excel[(workforce_excel['outsourcing_cost_multiplier']==OC)\
                                                &(workforce_excel['region_multiplier']==RM)\
                                                    &(workforce_excel['global_multiplier']==GM)\
                                                        &(workforce_excel['model']==model)]

                    # Rounding the objective values to two decimal places 
                    subset_excel.loc[:, 'objective_value'] = subset_excel['objective_value'].round(5)

                    # Finding the minimum objective value rounded to two decimal places
                    maximum_obj_val = subset_excel['objective_value'].min()

                    # Finding the workforce size corresponding to the minimum objective value
                    workforce_size = subset_excel[subset_excel['objective_value'] == maximum_obj_val]['workforce_size_trial'].min() + 1

                    if workforce_size < previous_value:
                            workforce_size = previous_value
      
                    # Update the Json 
                    data_df.loc[
                        (data_df['outsourcing_cost_multiplier'] == OC) &
                        (data_df['regional_multiplier'] == RM) &
                        (data_df['global_multiplier'] == GM) &
                        (data_df['model'] == model),
                        'workforce_size_region0'
                    ] = workforce_size

                    dict_out = {} 
                    for col in data_df.columns: 
                            dict_out[col]=data_df[col].tolist()
                    # Save the updated Json
                    with open(f'../workforce_size/{base_file}.json', 'w') as file:
                       json.dump(dict_out, file, indent=4)
         

                    # Make results table
                    results_temp = pd.DataFrame({'outsourcing_cost_multiplier': OC, 'regional_multiplier': RM, 'global_multiplier': GM, 'model': model, 'workforce_size': workforce_size}, index=[0])
                    results = pd.concat([results, results_temp])

                    # Check if workforce size is increasing
                    if results['workforce_size'].diff().values[-1] < 0 and OC != 1.2:
                        print(f'Error: Workforce size is decreasing for OC = {OC}, model = {model}, base_file = {base_file}')
                    previous_value = workforce_size

    data_df.to_excel(f'../workforce_size/{base_file}_workforce_size.xlsx', index=False)

In [250]:
data_df.sort_values(by=['model', 'max_n_shifts','outsourcing_cost_multiplier'], inplace=True)
data_df

,instance_file_base,city,demand_baseline,model,max_n_shifts,outsourcing_cost_multiplier,regional_multiplier,global_multiplier,workforce_size_region0,objective_value_prev,objective_value,objective_value_next
0,paris_db=4.00,paris,4.0,fixed,NaN,1.2,1.5,0.8,208,NaN,61728.367168,61728.367168
5,paris_db=4.00,paris,4.0,fixed,NaN,1.5,1.5,0.8,216,NaN,75876.144021,75876.144021
10,paris_db=4.00,paris,4.0,fixed,NaN,1.8,1.5,0.8,225,NaN,89986.493813,89986.493813
15,paris_db=4.00,paris,4.0,fixed,NaN,2.0,1.5,0.8,229,NaN,99373.941375,99373.941375
20,paris_db=4.00,paris,4.0,fixed,NaN,2.5,1.5,0.8,240,NaN,122796.789454,122796.789454
1,paris_db=4.00,paris,4.0,flex,NaN,1.2,1.5,0.8,178,NaN,60685.730665,60687.787905
6,paris_db=4.00,paris,4.0,flex,NaN,1.5,1.5,0.8,183,NaN,74760.069922,74760.879153
11,paris_db=4.00,paris,4.0,flex,NaN,1.8,1.5,0.8,184,NaN,88819.870140,88820.050059
16,paris_db=4.00,paris,4.0,flex,NaN,2.0,1.5,0.8,186,NaN,98180.904198,98185.507137
21,paris_db=4.00,paris,4.0,flex,NaN,2.5,1.5,0.8,191,NaN,121566.913802,121567.627695
2,paris_db=4.00,paris,4.0,partflex,2.0,1.2,1.5,0.8,208,NaN,61728.367168,61728.367168
7,paris_db=4.00,paris,4.0,partflex,2.0,1.5,1.5,0.8,216,NaN,75876.144021,75876.144021
12,paris_db=4.00,paris,4.0,partflex,2.0,1.8,1.5,0.8,225,NaN,89986.493813,89986.493813
17,paris_db=4.00,paris,4.0,partflex,2.0,2.0,1.5,0.8,229,NaN,99373.941375,99373.941375
22,paris_db=4.00,paris,4.0,partflex,2.0,2.5,1.5,0.8,240,NaN,122796.789454,122796.789454
3,paris_db=4.00,paris,4.0,partflex,3.0,1.2,1.5,0.8,178,NaN,60685.730665,60687.787905
8,paris_db=4.00,paris,4.0,partflex,3.0,1.5,1.5,0.8,183,NaN,74760.069922,74760.879153
13,paris_db=4.00,paris,4.0,partflex,3.0,1.8,1.5,0.8,184,NaN,88819.870140,88820.050059
18,paris_db=4.00,paris,4.0,partflex,3.0,2.0,1.5,0.8,186,NaN,98180.904198,98185.507137
23,paris_db=4.00,paris,4.0,partflex,3.0,2.5,1.5,0.8,191,NaN,121566.913802,121567.627695
4,paris_db=4.00,paris,4.0,partflex,4.0,1.2,1.5,0.8,178,NaN,60685.730665,60687.787905
9,paris_db=4.00,paris,4.0,partflex,4.0,1.5,1.5,0.8,183,NaN,74760.069922,74760.879153
14,paris_db=4.00,paris,4.0,partflex,4.0,1.8,1.5,0.8,184,NaN,88819.870140,88820.050059
19,paris_db=4.00,paris,4.0,partflex,4.0,2.0,1.5,0.8,186,NaN,98180.904198,98185.507137
24,paris_db=4.00,paris,4.0,partflex,4.0,2.5,1.5,0.8,191,NaN,121566.913802,121567.627695