In [127]:
import pandas as pd
import numpy as np
import random

import seaborn as sns
import matplotlib.pyplot as plt

from solver import Instance, Solver
from argparse import Namespace
from gurobipy import Model, GRB, tupledict
import json

import ast

In [128]:
read_instance_file = True
city = "berlin"

In [129]:
if read_instance_file:
    demand_baseline = "1.00"
    demand_type = "uniform"
    
    demand_file = f'{city}_db={demand_baseline}_dt={demand_type}.csv'
    print(demand_file)

    demand_df = pd.read_csv(demand_file, index_col=0)
    demand_df['area_id'] = demand_df['area_id'].astype(str) 
    days_ = []
    for i in range(7):
        days_.append([i, "1.00", "uniform"])
    days = pd.DataFrame(days_, columns=['day', 'demand_baseline', 'demand_type']) 
else:
    # Generate instance file
    # Generate several days instances 
    days = pd.DataFrame([
        [0, "1.00", "uniform"], # Monday
        [1, "1.00", "uniform"], # Tuesday
        [2, "1.00", "uniform"], # Wednesday
        [3, "1.00", "uniform"], # Thursday
        [4, "1.00", "uniform"], # Friday
        [5, "1.00", "uniform"], # Satuday
        [6, "1.00", "uniform"], # Sunday
    ], columns=['day', 'demand_baseline', 'demand_type']
    )

    demand = []
    area_region_map = None

    for i, row in days.iterrows():
        demand_baseline, demand_type = row['demand_baseline'], row['demand_type']
        key = f'{city}_db={demand_baseline}_dt={demand_type}'

        instance_file = f'../instances/{city}_db={demand_baseline}_dt={demand_type}.json'
        with open(instance_file, 'r') as file:
            instance_data = json.load(file)

        if area_region_map is None:
            regions = instance_data['geography']['city']['regions']
            area_region_map = {}
            for region in regions:
                areas = region['areas'] 
                for area in areas:
                    area_region_map[area['id']] = region['id']
        
        scenario = random.randint(0, instance_data['num_scenarios']-1)
        data_ = (
            pd.DataFrame(instance_data['scenarios'][scenario]['data'])
            .assign(
                day = row['day']
            )
        )
        demand.append(data_)

    demand_df = pd.concat(demand)
    # Add region
    demand_df['region_id'] = demand_df['area_id'].map(area_region_map)

    demand_df = demand_df[['day', 'region_id', 'area_id', 'demand', 'required_couriers']]
    #demand_df.to_csv(f'{city}_db={demand_baseline}_dt={demand_type}.csv')

display(demand_df.head(20))

berlin_db=1.00_dt=uniform.csv

    day  region_id area_id                    demand         required_couriers
0     0          1   10115  [0, 2, 2, 4, 1, 4, 7, 2]  [0, 1, 1, 1, 1, 1, 2, 1]
1     0          1   10117  [4, 3, 1, 1, 2, 2, 2, 3]  [1, 1, 1, 1, 1, 1, 1, 1]
2     0          1   10119  [0, 2, 0, 0, 2, 2, 6, 4]  [0, 1, 0, 0, 1, 1, 2, 1]
3     0          1   10178  [3, 1, 2, 0, 4, 2, 0, 0]  [1, 1, 1, 0, 1, 1, 0, 0]
4     0          1   10179  [3, 1, 3, 2, 1, 5, 1, 1]  [1, 1, 1, 1, 1, 1, 1, 1]
5     0          2   10243  [4, 4, 2, 2, 3, 2, 1, 3]  [1, 1, 1, 1, 1, 1, 1, 1]
6     0          0   10245  [3, 2, 3, 5, 2, 1, 1, 2]  [1, 1, 1, 1, 1, 1, 1, 1]
7     0          0   10247  [4, 4, 8, 7, 3, 4, 7, 4]  [1, 1, 2, 2, 1, 1, 2, 1]
8     0          0   10249  [4, 4, 1, 5, 2, 1, 3, 5]  [1, 1, 1, 1, 1, 1, 1, 1]
9     0          0   10315  [4, 8, 4, 1, 3, 5, 2, 5]  [1, 2, 1, 1, 1, 1, 1, 1]
10    0          0   10317  [6, 3, 1, 2, 4, 4, 2, 3]  [2, 1, 1, 1, 1, 1, 1, 1]
11    0          0   10318  [3, 1, 5, 4, 4, 0, 3, 2]  [1, 1, 1, 1, 1, 0, 1, 1]
12    0          0   10319  [2, 5, 1, 3, 3, 2, 2, 3]  [1, 1, 1, 1, 1, 1, 1, 1]
13    0          0   10365  [3, 3, 6, 1, 4, 6, 2, 2]  [1, 1, 2, 1, 1, 2, 1, 1]
14    0          0   10367  [3, 0, 3, 1, 1, 2, 1, 1]  [1, 0, 1, 1, 1, 1, 1, 1]
15    0          0   10369  [5, 0, 3, 1, 0, 2, 1, 2]  [1, 0, 1, 1, 0, 1, 1, 1]
16    0          1   10405  [4, 4, 5, 1, 2, 4, 2, 2]  [1, 1, 1, 1, 1, 1, 1, 1]
17    0          1   10407  [0, 3, 1, 4, 3, 1, 5, 5]  [0, 1, 1, 1, 1, 1, 1, 1]
18    0          1   10409  [3, 1, 2, 0, 3, 1, 5, 3]  [1, 1, 1, 0, 1, 1, 1, 1]
19    0          1   10435  [3, 1, 2, 0, 4, 3, 3, 1]  [1, 1, 1, 0, 1, 1, 1, 1]

In [164]:
demand_df.query('area_id == "10115"')

   day  region_id area_id                    demand         required_couriers
0    0          1   10115  [0, 2, 2, 4, 1, 4, 7, 2]  [0, 1, 1, 1, 1, 1, 2, 1]
0    1          1   10115  [5, 1, 3, 2, 4, 0, 3, 2]  [1, 1, 1, 1, 1, 0, 1, 1]
0    2          1   10115  [1, 4, 5, 2, 3, 1, 4, 3]  [1, 1, 1, 1, 1, 1, 1, 1]
0    3          1   10115  [0, 2, 2, 4, 1, 4, 7, 2]  [0, 1, 1, 1, 1, 1, 2, 1]
0    4          1   10115  [4, 2, 6, 1, 0, 2, 1, 0]  [1, 1, 2, 1, 0, 1, 1, 0]
0    5          1   10115  [4, 3, 1, 3, 2, 3, 0, 2]  [1, 1, 1, 1, 1, 1, 0, 1]
0    6          1   10115  [2, 3, 0, 2, 3, 3, 2, 0]  [1, 1, 0, 1, 1, 1, 1, 0]

In [130]:
scheduling_solution = demand_df.copy().reset_index(drop=True)
scheduling_solution['couriers_per_region'] = ''
scheduling_solution['hired_couriers_scheduling'] = ''

In [131]:
# READ OPTIMAL SCHEDULING SOLUTIONS
outsourcing_cost_multiplier = 1.5
arguments = {
    'model': 'base', # choices=('base', 'fixed', 'partflex', 'flex')
    #'instance': instance_file,
    'outsourcing_cost_multiplier': outsourcing_cost_multiplier,
    'regional_multiplier': 2.0,
    'global_multiplier': 3.0,
    'max_n_shifts': 10,
    'output': 'output.txt'
}

for i, row in days[['demand_baseline', 'demand_type']].drop_duplicates().iterrows():
    demand_baseline, demand_type = row['demand_baseline'], row['demand_type'] 
    instance_file = f'../instances/{city}_db={demand_baseline}_dt={demand_type}.json'

    arguments['instance'] = instance_file
    args = Namespace(**arguments)

    i = Instance(args=args)
    solver = Solver(args=args, i=i)

    scheduling_best_value, x, i = solver.return_solve_base()

    # Number of couriers in a region
    n_couriers_per_region = '[' + ', '.join([str(i.ub_reg[region]) for region in i.regions]) + ']'
    selected_days = list(days.query(f'demand_baseline == "{demand_baseline}" & demand_type == "{demand_type}"')['day'].values)
    scheduling_solution.loc[ scheduling_solution['day'].isin(selected_days), 'couriers_per_region'] = n_couriers_per_region

    hired_couriers = {
        a: [int(x[a, theta].X) for theta in i.periods] for a in i.areas
    }
    scheduling_solution.loc[ scheduling_solution['day'].isin(selected_days), 'hired_couriers_scheduling'] = \
        scheduling_solution.loc[ scheduling_solution['day'].isin(selected_days), 'area_id'].map(hired_couriers)

Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (mac64[rosetta2])

CPU model: Apple M1
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 14200 rows, 14632 columns and 24472 nonzeros
Model fingerprint: 0x5b303499
Variable types: 14160 continuous, 472 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+01]
  Objective range  [3e-02, 1e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [2e+00, 3e+02]
Found heuristic solution: objective 1421.0500000
Presolve removed 14178 rows and 14565 columns
Presolve time: 0.09s
Presolved: 22 rows, 67 columns, 88 nonzeros
Found heuristic solution: objective 560.3250000
Variable types: 46 continuous, 21 integer (0 binary)

Root relaxation: objective 5.363750e+02, 21 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0     536.3750000  536.37500  0.00%     -    0s

Explored 1 nodes (21 simplex iterations) in 0.12 seconds (0.02 work units)
Thread count was 8 (of 8 available processors)

Solution count 3: 536.375 560.325 1421.05

Optimal solution found (tolerance 1.00e-04)
Best objective 5.363750000000e+02, best bound 5.363750000000e+02, gap 0.0000%

In [162]:
scheduling_best_value*7

3754.625

In [132]:
scheduling_solution.head(20)

,day,region_id,area_id,demand,required_couriers,couriers_per_region,hired_couriers_scheduling
0,0,1,10115,"[0, 2, 2, 4, 1, 4, 7, 2]","[0, 1, 1, 1, 1, 1, 2, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
1,0,1,10117,"[4, 3, 1, 1, 2, 2, 2, 3]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
2,0,1,10119,"[0, 2, 0, 0, 2, 2, 6, 4]","[0, 1, 0, 0, 1, 1, 2, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
3,0,1,10178,"[3, 1, 2, 0, 4, 2, 0, 0]","[1, 1, 1, 0, 1, 1, 0, 0]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
4,0,1,10179,"[3, 1, 3, 2, 1, 5, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
5,0,2,10243,"[4, 4, 2, 2, 3, 2, 1, 3]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
6,0,0,10245,"[3, 2, 3, 5, 2, 1, 1, 2]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
7,0,0,10247,"[4, 4, 8, 7, 3, 4, 7, 4]","[1, 1, 2, 2, 1, 1, 2, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 2, 2, 2, 1]"
8,0,0,10249,"[4, 4, 1, 5, 2, 1, 3, 5]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 2, 1, 1, 1]"
9,0,0,10315,"[4, 8, 4, 1, 3, 5, 2, 5]","[1, 2, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 2, 1, 1, 1, 1, 1, 1]"
10,0,0,10317,"[6, 3, 1, 2, 4, 4, 2, 3]","[2, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
11,0,0,10318,"[3, 1, 5, 4, 4, 0, 3, 2]","[1, 1, 1, 1, 1, 0, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
12,0,0,10319,"[2, 5, 1, 3, 3, 2, 2, 3]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
13,0,0,10365,"[3, 3, 6, 1, 4, 6, 2, 2]","[1, 1, 2, 1, 1, 2, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
14,0,0,10367,"[3, 0, 3, 1, 1, 2, 1, 1]","[1, 0, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
15,0,0,10369,"[5, 0, 3, 1, 0, 2, 1, 2]","[1, 0, 1, 1, 0, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
16,0,1,10405,"[4, 4, 5, 1, 2, 4, 2, 2]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
17,0,1,10407,"[0, 3, 1, 4, 3, 1, 5, 5]","[0, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
18,0,1,10409,"[3, 1, 2, 0, 3, 1, 5, 3]","[1, 1, 1, 0, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"
19,0,1,10435,"[3, 1, 2, 0, 4, 3, 3, 1]","[1, 1, 1, 0, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]"

In [133]:
# Calculate costs (benchmark)
if False: # copy that
    m.setObjective(
        sum([
            sum([cost_couriers[a, theta, d] * k_var[e, a, theta, d] for e in E[r]]) 
                + omega_var[a, theta, d]
        for r in R for a in A[r] for theta in Theta for d in D]
        )
    )
    factor = deliveries[a, theta, d] / couriers_needed[a, theta, d] * c_out 

    ((couriers_needed[a, theta, d] - sum([k_var[e, a, theta, d] for e in E[r]])) * factor <= omega_var[a, theta, d])

cost_courier = 1
scheduling_solution['hiring_costs'] = 0
scheduling_solution['outsourcing_costs'] = 0

for i_, row in scheduling_solution.iterrows():
    demand = ast.literal_eval(row['demand'])
    required_couriers = ast.literal_eval(row['required_couriers'])
    hired_couriers = row['hired_couriers_scheduling']

    hiring, outsourcing = 0, 0
    for demand_, required_, hired_ in zip(demand, required_couriers, hired_couriers):
        if hired_ < required_:
            factor = demand_ / required_ * outsourcing_cost_multiplier
            outsourcing += (required_ - hired_) * factor
        hiring += hired_*cost_courier
    
    scheduling_solution.loc[i_, 'hiring_costs'] = hiring
    scheduling_solution.loc[i_, 'outsourcing_costs'] = outsourcing

scheduling_solution.head(10)

,day,region_id,area_id,demand,required_couriers,couriers_per_region,hired_couriers_scheduling,hiring_costs,outsourcing_costs
0,0,1,10115,"[0, 2, 2, 4, 1, 4, 7, 2]","[0, 1, 1, 1, 1, 1, 2, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]",8,5.25
1,0,1,10117,"[4, 3, 1, 1, 2, 2, 2, 3]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]",8,0.00
2,0,1,10119,"[0, 2, 0, 0, 2, 2, 6, 4]","[0, 1, 0, 0, 1, 1, 2, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]",8,4.50
3,0,1,10178,"[3, 1, 2, 0, 4, 2, 0, 0]","[1, 1, 1, 0, 1, 1, 0, 0]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]",8,0.00
4,0,1,10179,"[3, 1, 3, 2, 1, 5, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]",8,0.00
5,0,2,10243,"[4, 4, 2, 2, 3, 2, 1, 3]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]",8,0.00
6,0,0,10245,"[3, 2, 3, 5, 2, 1, 1, 2]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 1, 1, 1, 1]",8,0.00
7,0,0,10247,"[4, 4, 8, 7, 3, 4, 7, 4]","[1, 1, 2, 2, 1, 1, 2, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 2, 2, 2, 1]",11,11.25
8,0,0,10249,"[4, 4, 1, 5, 2, 1, 3, 5]","[1, 1, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 1, 1, 1, 2, 1, 1, 1]",9,0.00
9,0,0,10315,"[4, 8, 4, 1, 3, 5, 2, 5]","[1, 2, 1, 1, 1, 1, 1, 1]","[33, 22, 20, 25]","[1, 2, 1, 1, 1, 1, 1, 1]",9,0.00

In [134]:
# TOTAL COSTS
print(f'Hiring costs: {scheduling_solution["hiring_costs"].sum()}') # They are not right!!!
print(f'Outsourcing costs: {scheduling_solution["outsourcing_costs"].sum()}')
print(f'Total costs: {scheduling_solution["hiring_costs"].sum() + scheduling_solution["outsourcing_costs"].sum()}')

Hiring costs: 3206
Outsourcing costs: 592.5
Total costs: 3798.5

In [166]:
scheduling_solution['couriers_per_region'].unique()[0]

'[33, 22, 20, 25]'

In [135]:
# PARAMETERS
# Regions
R = sorted(list(demand_df['region_id'].unique()))

region_area_map = {}
for r in R:
    for a in list(demand_df.query(f'region_id == {r}')['area_id'].unique()):
        region_area_map[a] = r
        
# Areas 
A = {}
area_map = {a: i for i, a in enumerate(list(demand_df['area_id'].unique())) }
areas = list(area_map.keys())
n_areas = len(areas)
for r in R:
    A[r] = [ area_map[a] for a in list(demand_df.query(f'region_id == {r}')['area_id'].unique()) ]

# Employees
if False:
    n_employees = 12
    employees = [e for e in range(n_employees)]
    E = {}
    #for r in R:
    #    E[r] = employees
    E[0] = [0,1,2]
    E[1] = [3,4,5]
    E[2] = [6,7,8]
    E[3] = [9,10,11]
else:
    # Read employees from scheduling
    E = {}
    n_empl_init = 0
    for r, n_empl in enumerate(ast.literal_eval(scheduling_solution['couriers_per_region'].unique()[0])):
        E[r] = [i for i in range(n_empl_init, n_empl_init+n_empl)]
        n_empl_init = n_empl
    
    def flatten(xss):
        return [x for xs in xss for x in xs]

    n_employees = len(flatten(E.values()))
    employees = [e for e in range(n_employees)]
 
# Set of all shifts available
P = {}
n_shifts = 2
shifts = [s for s in range(n_shifts)]
for r in R:
    P[r] = shifts

# Shifts start and end times
shifts_start = {0: 0, 1:2}
shifts_end = {0: 4, 1:6}

# Periods
n_periods = 8
Theta = [i for i in range(n_periods)]

# Days
n_days = 7
D = [d for d in range(n_days)]

# Set of demand scenarios
# TODO

# Hours in shift
h = {}
n_hours = 8
for p in range(n_shifts):
    h[p] = n_hours

# Cost outsource
c_out = outsourcing_cost_multiplier

# Number of deliveries to perform (n_{a theta d})
deliveries = np.zeros((n_areas, n_periods, n_days))
for i, a in enumerate(areas):
    for k, d in enumerate(D):
        period_demands = demand_df.query(f'area_id == "{a}" & day == {d}')
        deliveries[i, :, k] = ast.literal_eval(period_demands['demand'].values[0])

# Number of couriers needed (m_{a theta d})
couriers_needed = np.zeros((n_areas, n_periods, n_days))
for i, a in enumerate(areas):
    for k, d in enumerate(D):
        period_demands = demand_df.query(f'area_id == "{a}" & day == {d}')
        couriers_needed[i, :, k] = ast.literal_eval(period_demands['required_couriers'].values[0])

# Cost of employed courier (c_{a theta d})
cost_couriers = np.zeros((n_areas, n_periods, n_days))
cost_courier = 1
for i, a in enumerate(areas):
    for j, t in enumerate(Theta):
        for k, d in enumerate(D):
            cost_couriers[i, j, k] = cost_courier

# Min hours worked for employee e
min_hours_worked = 8
h_min = {e: min_hours_worked for e in employees}

# Max hours worked for employee e
max_hours_worked = 8*6
h_max = {e: max_hours_worked for e in employees}

# Max differing starts
max_unique_starts = 2
b_max = {e: max_unique_starts for e in employees}

# mega_value
M = 999_999

# DECISION VARIABLES

In [136]:
m = Model()

# r_{e p d}
r_var = m.addVars(n_employees, n_shifts, n_days, vtype=GRB.BINARY, name='r')

# k_{e a theta d}
k_var = m.addVars(n_employees, n_areas, n_periods, n_days, vtype=GRB.BINARY, name='k')

# U_{e p}
u_var = m.addVars(n_employees, n_shifts, vtype=GRB.BINARY, name='u')

# omega_{a theta d}
omega_var = m.addVars(n_areas, n_periods, n_days, vtype=GRB.CONTINUOUS, lb=0, name='omega')

# CONSTRAINTS

In [137]:
# 1. Connecting employees moving around areas to shift assignment p
if False:
    for r in R:
        for e in E[r]:
            for p in P[r]:
                for d in D:
                    Ar = A[r]
                    m.addConstr(
                        (sum([k_var[e, a, theta, d] for a in Ar for theta in Theta]) == 1/2 * h[p] * r_var[e,p,d] ),
                        name = f'moving_areas_{r}_{e}_{p}_{d}'          
                    )

# CORRECTED!
for r in R:
    for e in E[r]:
        for d in D:
            Ar, Pr = A[r], P[r]
            m.addConstr(
                (sum([k_var[e, a, theta, d] for a in Ar for theta in Theta]) == 1/2 * sum([h[p] * r_var[e,p,d] for p in Pr])),
                name = f'moving_areas_{r}_{e}_{d}'          
            )

In [138]:
# 2. Employee can only be assigned to one area at a time 
for r in R:
    for e in E[r]:
        for theta in Theta:
            for d in D:
                Ar = A[r]
                m.addConstr((sum([k_var[e, a, theta, d] for a in Ar]) <= 1),
                    name = f'employee_{r}_{e}_{theta}_{d}'          
                )

# ADDED: They only can be assigned one region!
#for e in employees:
#    for theta in Theta:
#        for d in D:
#            m.addConstr((sum([k_var[e, area_map[a], theta, d] for a in areas]) <= 1),
#                name = f'only_one_area_{e}_{theta}_{d}'          
#            )

In [139]:
# ADDED - Shift start and end times
for shift in shifts:
    start = shifts_start[shift]
    for theta in Theta[:start]:
        for e in employees:
            for a in areas:
                for d in D:
                    m.addConstr((k_var[e, area_map[a], theta, d] * r_var[e, shift, d] == 0),
                        name = f'start_time_{e}_{a}_{shift}_{d}'          
                    )

for shift in shifts:
    end = shifts_end[shift]
    for theta in Theta[end:]:
        for e in employees:
            for a in areas:
                for d in D:
                    m.addConstr((k_var[e, area_map[a], theta, d] * r_var[e, shift, d] == 0),
                        name = f'end_time_{e}_{a}_{shift}_{d}'          
                    )

In [140]:
# 3. Employee can only work one shift a day
for r in R:
    for es in E[r]:
        for d in D:
            Pr = P[r]
            m.addConstr((sum([r_var[e, p, d] for p in Pr]) <= 1),
                name = f'only_one_shift_{r}_{e}_{theta}_{d}'          
            )

In [141]:
# 4. One rest day a week
for r in R:
    for e in E[r]:
        Pr = P[r]
        m.addConstr((sum([r_var[e, p, d] for p in Pr for d in D]) <= 6),
            name = f'rest_day_{r}_{e}'          
        )

In [142]:
# 5. Min - Max hours worked per week
for r in R:
    Pr = P[r]
    for e in E[r]:
        min_hours = h_min[e]
        max_hours = h_max[e]

        m.addConstr((sum([ h[p] * r_var[e, p, d] for p in Pr for d in D]) >= min_hours),
            name = f'min_hours_{r}_{e}'          
        )

        m.addConstr(( sum([ h[p] * r_var[e, p, d] for p in Pr for d in D]) <= max_hours),
            name = f'max_hours_{r}_{e}'          
        )

In [143]:
# 6. Different shifting times constraint
for r in R:
    for e in E[r]:
        for p in P[r]:
            m.addConstr((sum([r_var[e, p, d] for d in D]) <= u_var[e, p] * M),
                name = f'start_times_{r}_{e}_1'          
            )

for r in R:
    for e in E[r]:
        Pr = P[r]
        m.addConstr((sum([u_var[e, p] for p in Pr]) <= b_max[e]),
            name = f'start_times_{r}_{e}_2'          
        )

In [144]:
# 7. Employee can't work then outsource
for r in R:
    for a in A[r]:
        for theta in Theta:
            for d in D:
                # Be careful with parantheses!!
                if couriers_needed[a,theta,d] > 0:
                    factor = deliveries[a, theta, d] / couriers_needed[a, theta, d] * c_out 
                else:
                    factor = 0
                m.addConstr(
                    ((couriers_needed[a, theta, d] - sum([k_var[e, a, theta, d] for e in E[r]])) * factor <= omega_var[a, theta, d]),
                    name = f'outsource_{r}_{a}_{theta}_{d}'   
                )

# OBJECTIVE FUNCTION

In [145]:
factor_s = 1
m.setObjective(
    sum([
        sum([cost_couriers[a, theta, d] * k_var[e, a, theta, d] for e in E[r]]) 
            + omega_var[a, theta, d]
    for r in R for a in A[r] for theta in Theta for d in D]
    )
)

In [146]:
m.ModelSense = GRB.MINIMIZE
m.optimize()

Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (mac64[rosetta2])

CPU model: Apple M1
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 10904 rows, 335304 columns and 240536 nonzeros
Model fingerprint: 0x45a75171
Model has 330400 quadratic constraints
Variable types: 3304 continuous, 332000 integer (332000 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+06]
  QMatrix range    [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 5e+01]
Presolve removed 3867 rows and 282556 columns
Presolve time: 2.03s
Presolved: 7037 rows, 52748 columns, 157620 nonzeros
Variable types: 0 continuous, 52748 integer (52663 binary)
Deterministic concurrent LP optimizer: primal and dual simplex
Showing first log only...


Root simplex log...

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    2.5260000e+03   3.000000e+00   4.199440e+07      6s
       6    1.0474000e+04   0.000000e+00   8.196400e+04      6s
    2817    4.7040000e+03   0.000000e+00   0.000000e+00      6s
Concurrent spin time: 0.00s

Solved with primal simplex

Use crossover to convert LP symmetric solution to basic solution...

Root crossover log...

       0 DPushes remaining with DInf 0.0000000e+00                 6s

   24335 PPushes remaining with PInf 0.0000000e+00                 6s
       0 PPushes remaining with PInf 0.0000000e+00                 6s

  Push phase complete: Pinf 0.0000000e+00, Dinf 3.9162843e-11      6s


Root simplex log...

Iteration    Objective       Primal Inf.    Dual Inf.      Time
   27282    4.7040000e+03   0.000000e+00   0.000000e+00      6s
   27282    4.7040000e+03   0.000000e+00   0.000000e+00      6s

Root relaxation: objective 4.704000e+03, 27282 iterations, 0.28 seconds (0.26 work units)
Total elapsed time = 10.47s
Total elapsed time = 18.54s
Total elapsed time = 21.72s

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 4704.00000    0  987          - 4704.00000      -     -   24s
H    0     0                    7947.7500000 4704.00000  40.8%     -   24s
H    0     0                    7353.5000000 4704.00000  36.0%     -   24s
H    0     0                    5933.2500000 4704.00000  20.7%     -   25s
H    0     0                    5287.5000000 4704.00000  11.0%     -   25s
H    0     0                    5245.0000000 4704.00000  10.3%     -   25s
     0     0 4704.00000    0 2932 5245.00000 4704.00000  10.3%     -   40s
H    0     0                    5240.5000000 4704.00000  10.2%     -   42s
H    0     0                    5231.5000000 4704.00000  10.1%     -   42s
     0     0 4704.00000    0 3385 5231.50000 4704.00000  10.1%     -   61s
     0     0 4704.76084    0 1656 5231.50000 4704.76084  10.1%     -   98s
H    0     0                    5230.0000000 4704.76084  10.0%     -   98s
     0     0 4717.09065    0 2954 5230.00000 4717.09065  9.81%     -  105s
     0     0 4719.01831    0 3113 5230.00000 4719.01831  9.77%     -  112s
     0     0 4719.52756    0 3169 5230.00000 4719.52756  9.76%     -  113s
     0     0 4719.52756    0 3095 5230.00000 4719.52756  9.76%     -  114s
     0     0 4759.44213    0 3511 5230.00000 4759.44213  9.00%     -  126s
H    0     0                    5229.0000000 4811.04321  7.99%     -  145s
H    0     0                    5228.5000000 4811.04321  7.98%     -  147s
H    0     0                    5226.5000000 4811.04321  7.95%     -  147s
H    0     0                    5224.5000000 4811.04321  7.91%     -  147s
H    0     0                    5223.0000000 4811.04321  7.89%     -  147s
H    0     0                    5222.5000000 4811.04321  7.88%     -  147s
     0     0 4811.04321    0 3776 5222.50000 4811.04321  7.88%     -  147s
H    0     0                    5221.5000000 4815.38248  7.78%     -  149s
H    0     0                    5219.0000000 4815.38248  7.73%     -  149s
     0     0 4815.38248    0 3811 5219.00000 4815.38248  7.73%     -  149s
     0     0 4816.09714    0 3799 5219.00000 4816.09714  7.72%     -  151s
     0     0 4816.33114    0 3833 5219.00000 4816.33114  7.72%     -  152s
     0     0 4816.33114    0 3773 5219.00000 4816.33114  7.72%     -  152s
H    0     0                    5215.5000000 4854.18913  6.93%     -  163s
H    0     0                    5214.0000000 4854.18913  6.90%     -  163s
H    0     0                    5213.5000000 4854.18913  6.89%     -  163s
H    0     0                    5212.5000000 4854.18913  6.87%     -  163s
     0     0 4854.18913    0 3249 5212.50000 4854.18913  6.87%     -  163s
     0     0 4880.18791    0 3434 5212.50000 4880.18791  6.38%     -  167s
     0     0 4886.91354    0 3580 5212.50000 4886.91354  6.25%     -  169s
     0     0 4888.08472    0 3575 5212.50000 4888.08472  6.22%     -  170s
H    0     0                    5211.5000000 4888.31112  6.20%     -  171s
     0     0 4888.31112    0 3530 5211.50000 4888.31112  6.20%     -  171s
     0     0 4888.31426    0 3467 5211.50000 4888.31426  6.20%     -  171s
H    0     0                    5210.5000000 4888.31426  6.18%     -  172s
H    0     0                    5208.0000000 4938.40407  5.18%     -  176s
H    0     0                    5207.5000000 4938.40407  5.17%     -  176s
H    0     0                    5205.0000000 4938.40407  5.12%     -  176s
H    0     0                    5204.0000000 4938.40407  5.10%     -  176s
     0     0 4938.40407    0 3438 5204.00000 4938.40407  5.10%     -  176s
H    0     0                    5203.0000000 4947.68325  4.91%     -  178s
H    0     0                    5202.0000000 4947.68325  4.89%     -  178s
     0     0 4947.68325    0 3589 5202.00000 4947.68325  4.89%     -  178s
     0     0 4948.44063    0 3646 5202.00000 4948.44063  4.87%     -  180s
     0     0 4948.97336    0 3648 5202.00000 4948.97336  4.86%     -  180s
     0     0 4948.98467    0 3596 5202.00000 4948.98467  4.86%     -  180s
     0     0 4985.91186    0 3589 5202.00000 4985.91186  4.15%     -  184s
     0     0 4995.61005    0 3685 5202.00000 4995.61005  3.97%     -  186s
H    0     0                    5200.5000000 4996.03809  3.93%     -  187s
H    0     0                    5199.5000000 4996.03809  3.91%     -  188s
     0     0 4996.03809    0 3737 5199.50000 4996.03809  3.91%     -  188s
     0     0 4996.60615    0 3731 5199.50000 4996.60615  3.90%     -  188s
     0     0 4996.84398    0 3662 5199.50000 4996.84398  3.90%     -  189s
H    0     0                    5198.0000000 5021.81866  3.39%     -  193s
     0     0 5021.81866    0 3621 5198.00000 5021.81866  3.39%     -  193s
H    0     0                    5197.0000000 5021.81866  3.37%     -  193s
     0     0 5026.99765    0 3631 5197.00000 5026.99765  3.27%     -  195s
     0     0 5027.73303    0 3709 5197.00000 5027.73303  3.26%     -  197s
     0     0 5027.78303    0 3643 5197.00000 5027.78303  3.26%     -  197s
     0     0 5042.41124    0 3410 5197.00000 5042.41124  2.97%     -  201s
     0     0 5042.75013    0 3499 5197.00000 5042.75013  2.97%     -  203s
     0     0 5051.68291    0 3558 5197.00000 5051.68291  2.80%     -  207s
     0     0 5053.61045    0 3597 5197.00000 5053.61045  2.76%     -  210s
     0     0 5054.15807    0 3592 5197.00000 5054.15807  2.75%     -  211s
     0     0 5054.18320    0 3539 5197.00000 5054.18320  2.75%     -  212s
     0     0 5069.79113    0 3346 5197.00000 5069.79113  2.45%     -  216s
     0     0 5072.27881    0 3309 5197.00000 5072.27881  2.40%     -  217s
     0     0 5072.48560    0 3427 5197.00000 5072.48560  2.40%     -  217s
     0     0 5083.85851    0 3342 5197.00000 5083.85851  2.18%     -  220s
     0     0 5086.98958    0 3340 5197.00000 5086.98958  2.12%     -  221s
     0     0 5087.24516    0 3239 5197.00000 5087.24516  2.11%     -  222s
     0     0 5094.19621    0 3186 5197.00000 5094.19621  1.98%     -  224s
     0     0 5095.26727    0 3249 5197.00000 5095.26727  1.96%     -  225s
     0     0 5095.55601    0 3210 5197.00000 5095.55601  1.95%     -  226s
     0     0 5101.80694    0 3097 5197.00000 5101.80694  1.83%     -  228s
     0     0 5102.20325    0 3324 5197.00000 5102.20325  1.82%     -  263s
     0     0 5106.61065    0 3236 5197.00000 5106.61065  1.74%     -  266s
     0     0 5107.04537    0 3286 5197.00000 5107.04537  1.73%     -  267s
     0     0 5111.30000    0 3082 5197.00000 5111.30000  1.65%     -  269s
     0     0 5111.82381    0 3124 5197.00000 5111.82381  1.64%     -  270s
     0     0 5111.87381    0 3073 5197.00000 5111.87381  1.64%     -  271s
H    0     0                    5196.0000000 5118.24802  1.50%     -  274s
H    0     0                    5195.0000000 5118.24802  1.48%     -  274s
     0     0 5118.24802    0 2803 5195.00000 5118.24802  1.48%     -  274s
     0     0 5118.49537    0 2799 5195.00000 5118.49537  1.47%     -  275s
     0     0 5122.01667    0 2727 5195.00000 5122.01667  1.40%     -  276s
     0     0 5122.01667    0  984 5195.00000 5122.01667  1.40%     -  280s
H    0     0                    5188.5000000 5122.01667  1.28%     -  292s
H    0     0                    5187.0000000 5122.01667  1.25%     -  293s
     0     2 5122.01667    0  782 5187.00000 5122.01667  1.25%     -  303s
     3     8 5181.72778    2 1435 5187.00000 5122.70000  1.24%  7327  305s
    23    26 5178.90556    5 2002 5187.00000 5123.83889  1.22%  3639  311s
H   33    34                    5186.0000000 5124.21389  1.19%  2911  313s
    47    50 5180.51667    8 1654 5186.00000 5124.21389  1.19%  2239  315s
   111   110 5185.54444   17 1464 5186.00000 5124.60278  1.18%  1289  320s
H  166   150                    5185.0000000 5124.60278  1.16%  1036  323s
H  167   150                    5184.0000000 5124.60278  1.15%  1031  323s
   198   170 5130.07500    6 1873 5184.00000 5125.18611  1.13%   949  326s
H  200   170                    5183.0000000 5125.18611  1.12%   943  326s
   302   300 5137.63194   22 1488 5183.00000 5125.18611  1.12%   814  330s
   466   450 5142.36111   44 1436 5183.00000 5125.18611  1.12%   671  335s
   605   555 5152.09167   65 1430 5183.00000 5125.18611  1.12%   619  341s
   726   701 5153.30833   97 1359 5183.00000 5125.18611  1.12%   575  345s
   891   861 5169.73333  141 1115 5183.00000 5125.18611  1.12%   536  350s
  1138  1119 5182.08667  202 1264 5183.00000 5125.58889  1.11%   500  356s
  1393  1357 5134.84259   23 1606 5183.00000 5125.58889  1.11%   461  361s
  1487  1358 5132.07222   17  984 5183.00000 5125.58889  1.11%   447  376s
  1489  1359 5149.74375  126 1100 5183.00000 5125.58889  1.11%   446  405s
  1490  1360 5135.81944   33 1225 5183.00000 5125.58889  1.11%   446  478s
  1491  1361 5156.58333  150 2630 5183.00000 5125.58889  1.11%   446  497s
  1492  1361 5152.49167   69 2654 5183.00000 5125.58889  1.11%   446  502s
  1493  1362 5146.67674   53 2962 5183.00000 5125.58889  1.11%   445  507s
  1494  1363 5137.33333   25 2989 5183.00000 5125.58889  1.11%   445  510s
  1497  1365 5166.72698   13 2874 5183.00000 5125.58889  1.11%   444  515s
  1500  1367 5161.41667   38 1046 5183.00000 5141.27407  0.81%   443  527s
  1503  1369 5180.25000   20 1870 5183.00000 5149.54167  0.65%   442  530s
  1505  1370 5179.98889    5  700 5183.00000 5168.25000  0.28%   442  541s
  1510  1373 5170.49238   28 1142 5183.00000 5170.49238  0.24%   440  545s
  1511  1374 5172.74762   60  485 5183.00000 5172.74762  0.20%   440  554s
  1512  1375 5174.60000   53  834 5183.00000 5174.60000  0.16%   440  556s
  1515  1377 5177.23750   82  323 5183.00000 5177.23750  0.11%   439  566s
  1518  1379 5179.55000   77  108 5183.00000 5179.55000  0.07%   438  573s
  1521  1381 5180.71428   10  158 5183.00000 5180.71428  0.04%   437  581s
  1523  1382 5181.00000    8   50 5183.00000 5181.00000  0.04%   436  587s
H 1525  1313                    5181.5000000 5181.08333  0.01%   436  590s

Cutting planes:
  Gomory: 324
  Lift-and-project: 3
  Cover: 191
  Clique: 273
  MIR: 292
  StrongCG: 10
  Flow cover: 141
  GUB cover: 2886
  Zero half: 292
  RLT: 93

Explored 1525 nodes (1968571 simplex iterations) in 590.25 seconds (445.16 work units)
Thread count was 8 (of 8 available processors)

Solution count 10: 5181.5 5183 5184 ... 5197

Optimal solution found (tolerance 1.00e-04)
Best objective 5.181500000000e+03, best bound 5.181500000000e+03, gap 0.0000%

# SOLUTION

In [147]:
# General values

In [148]:
# Total couriers in day
couriers_needed_ = []
for d in D:
    data = (
        pd.DataFrame(couriers_needed[:,:,d], index=areas, columns=Theta).reset_index()
        .rename(columns={'index': 'area'})
        #.assign(day = d)
    )

    area_day_data = (
        pd.melt(data, id_vars=['area'], value_vars=set(data.columns).difference('area'))
        .rename(columns={'variable': 'period', 'value': 'n_couriers'})
        .assign(day = d)
    )
    couriers_needed_.append(area_day_data)

couriers_needed_df = pd.concat(couriers_needed_)
couriers_needed_df.head()

    area period  n_couriers  day
0  10115      0         0.0    0
1  10117      0         1.0    0
2  10119      0         0.0    0
3  10178      0         1.0    0
4  10179      0         1.0    0

In [149]:
# Demand
deliveries_ = []
for d in D:
    data = (
        pd.DataFrame(deliveries[:,:,d], index=areas, columns=Theta).reset_index()
        .rename(columns={'index': 'area'})
        #.assign(day = d)
    )

    area_day_data = (
        pd.melt(data, id_vars=['area'], value_vars=set(data.columns).difference('area'))
        .rename(columns={'variable': 'period', 'value': 'deliveries'})
        .assign(day = d)
    )
    deliveries_.append(area_day_data)

deliveries_df = pd.concat(deliveries_)
deliveries_df.head(10)

    area period  deliveries  day
0  10115      0         0.0    0
1  10117      0         4.0    0
2  10119      0         0.0    0
3  10178      0         3.0    0
4  10179      0         3.0    0
5  10243      0         4.0    0
6  10245      0         3.0    0
7  10247      0         4.0    0
8  10249      0         4.0    0
9  10315      0         4.0    0

In [150]:
couriers_needed_df = pd.merge(couriers_needed_df, deliveries_df, on=['area', 'period', 'day'])

In [151]:
# Employee shifts
employees_shifts = []
for e in employees:
    for p in range(n_shifts):
        for d in D:
            value = r_var[e, p, d].X
            if value > 0.5:
                hours_worked = h[p]
                employees_shifts.append([e, p, d, hours_worked])

employees_shifts_df = pd.DataFrame(employees_shifts, columns=['employee', 'shift', 'day', 'hours_worked'])
employees_shifts_df.head(10)

   employee  shift  day  hours_worked
0         0      0    1             8
1         0      0    4             8
2         0      0    5             8
3         0      1    0             8
4         0      1    2             8
5         1      0    0             8
6         2      0    2             8
7         2      0    4             8
8         2      0    6             8
9         2      1    1             8

In [152]:
# Total hours worked
#employees_shifts_df.groupby('employee')['hours_worked'].sum()

In [153]:
# Area Employee assignment
area_employee_assignment = []
for e in employees:
    for a in areas:
        for theta in Theta:
            for d in D:
                for p in shifts:
                    shift = int(r_var[e, p, d].X)
                value = k_var[e, area_map[a], theta, d].X
                if value > 0.5:
                    area_employee_assignment.append([e, a, theta, d, shift])

area_employee_assignment_df = pd.DataFrame(area_employee_assignment, columns=['employee', 'area', 'period', 'day', 'shift'])
area_employee_assignment_df.head(10)

   employee   area  period  day  shift
0         0  10245       2    1      0
1         0  10245       2    5      0
2         0  10245       3    0      1
3         0  10247       1    1      0
4         0  10247       2    0      1
5         0  10247       3    4      0
6         0  10249       0    4      0
7         0  10249       1    5      0
8         0  10249       3    5      0
9         0  10249       4    0      1

In [154]:
employees_shifts_df.query('employee == 0').sort_values(['day'])

   employee  shift  day  hours_worked
3         0      1    0             8
0         0      0    1             8
4         0      1    2             8
1         0      0    4             8
2         0      0    5             8

In [155]:
(
    area_employee_assignment_df
    .query('employee == 0')
    .merge(couriers_needed_df, on=['day', 'area', 'period'])
    .assign(
        region = area_employee_assignment_df['area'].map(region_area_map)
    )
    .sort_values(['day', 'period'])
    [['employee', 'shift', 'day', 'period', 'area', 'region', 'n_couriers', 'deliveries']]
    .head(100)
)

    employee  shift  day period   area  region  n_couriers  deliveries
4          0      1    0      2  10247       0         2.0         8.0
2          0      1    0      3  10245       0         1.0         5.0
9          0      1    0      4  10249       0         1.0         2.0
14         0      1    0      5  10319       0         1.0         2.0
10         0      0    1      0  10315       0         1.0         3.0
3          0      0    1      1  10247       0         1.0         3.0
0          0      0    1      2  10245       0         2.0         6.0
13         0      0    1      3  10318       0         1.0         3.0
17         0      1    2      2  10367       0         1.0         3.0
19         0      1    2      3  10369       0         1.0         2.0
16         0      1    2      4  10365       0         2.0         8.0
12         0      1    2      5  10317       0         1.0         4.0
6          0      0    4      0  10249       0         1.0         2.0
18         0      0    4      1  10369       0         1.0         3.0
11         0      0    4      2  10317       0         1.0         2.0
5          0      0    4      3  10247       0         1.0         5.0
15         0      0    5      0  10365       0         1.0         3.0
7          0      0    5      1  10249       0         1.0         4.0
1          0      0    5      2  10245       0         1.0         1.0
8          0      0    5      3  10249       0         1.0         1.0

In [156]:
(
    area_employee_assignment_df
    .query('employee == 1')
    #.merge(couriers_needed_df, on=['day', 'area', 'period'])
    .assign(
        region = area_employee_assignment_df['area'].map(region_area_map)
    )
    .sort_values(['day', 'period'])
    [['employee', 'shift', 'day', 'period', 'area', 'region']] #, 'n_couriers']]
    .head(100)
)

    employee  shift  day  period   area  region
22         1      0    0       0  10317       0
21         1      0    0       1  10315       0
20         1      0    0       2  10247       0
23         1      0    0       3  10319       0

In [157]:
# areas
area_period_days_df = (
    area_employee_assignment_df
    .groupby(['area', 'period', 'day'])
    .agg({'employee': ['count', 'unique']})
    .reset_index()
)
area_period_days_df.columns = ['area', 'period', 'day', 'employee_count', 'employees_assign']
area_period_days_df

       area  period  day  employee_count employees_assign
0     10115       0    1               1             [37]
1     10115       0    4               1             [46]
2     10115       0    5               1             [51]
3     10115       0    6               1             [49]
4     10115       1    0               1             [47]
...     ...     ...  ...             ...              ...
1678  10999       5    2               1             [28]
1679  10999       5    3               1             [24]
1680  10999       5    4               1             [34]
1681  10999       5    5               1             [33]
1682  10999       5    6               1             [24]

[1683 rows x 5 columns]

In [158]:
# Outsourcing
outsourcing_shifts = []
for a in areas:
    for theta in Theta:
        for d in D:
            value = omega_var[area_map[a],theta,d].X
            #print(f'{a} {theta} {d} : {value}')
            if value > 0.0:
                outsourcing_shifts.append([a, theta, d, value])

outsourcing_shifts_df = pd.DataFrame(outsourcing_shifts, columns=['area', 'period', 'day', 'cost_outsource'])
outsourcing_shifts_df

       area  period  day  cost_outsource
0     10115       0    2             1.5
1     10115       4    0             1.5
2     10115       4    3             1.5
3     10115       5    2             1.5
4     10115       6    0            10.5
...     ...     ...  ...             ...
1019  10999       7    2             7.5
1020  10999       7    3             3.0
1021  10999       7    4             3.0
1022  10999       7    5             6.0
1023  10999       7    6             6.0

[1024 rows x 4 columns]

In [159]:
# Join all
whole_solution_df = (
    couriers_needed_df
    # Employees
    .merge(area_period_days_df,  on=['area', 'period', 'day'], how='left')
    # Outsource
    .merge(outsourcing_shifts_df, on=['area', 'period', 'day'], how='left')
)
whole_solution_df.head(30)

,area,period,n_couriers,day,deliveries,employee_count,employees_assign,cost_outsource
0,10115,0,0.0,0,0.0,NaN,NaN,NaN
1,10117,0,1.0,0,4.0,1.0,[41],NaN
2,10119,0,0.0,0,0.0,NaN,NaN,NaN
3,10178,0,1.0,0,3.0,1.0,[38],NaN
4,10179,0,1.0,0,3.0,1.0,[52],NaN
5,10243,0,1.0,0,4.0,1.0,[30],NaN
6,10245,0,1.0,0,3.0,1.0,[30],NaN
7,10247,0,1.0,0,4.0,1.0,[25],NaN
8,10249,0,1.0,0,4.0,1.0,[31],NaN
9,10315,0,1.0,0,4.0,1.0,[27],NaN
10,10317,0,2.0,0,6.0,2.0,"[1, 26]",NaN
11,10318,0,1.0,0,3.0,1.0,[32],NaN
12,10319,0,1.0,0,2.0,NaN,NaN,3.0
13,10365,0,1.0,0,3.0,1.0,[18],NaN
14,10367,0,1.0,0,3.0,1.0,[6],NaN
15,10369,0,1.0,0,5.0,1.0,[11],NaN
16,10405,0,1.0,0,4.0,1.0,[39],NaN
17,10407,0,0.0,0,0.0,NaN,NaN,NaN
18,10409,0,1.0,0,3.0,1.0,[36],NaN
19,10435,0,1.0,0,3.0,1.0,[53],NaN
20,10437,0,2.0,0,7.0,2.0,"[42, 46]",NaN
21,10439,0,1.0,0,2.0,1.0,[47],NaN
22,10551,0,0.0,0,0.0,NaN,NaN,NaN
23,10553,0,1.0,0,1.0,NaN,NaN,1.5
24,10555,0,1.0,0,2.0,1.0,[39],NaN
25,10557,0,1.0,0,2.0,1.0,[33],NaN
26,10559,0,1.0,0,1.0,NaN,NaN,1.5
27,10585,0,1.0,0,3.0,1.0,[30],NaN
28,10587,0,1.0,0,1.0,NaN,NaN,1.5
29,10589,0,1.0,0,4.0,1.0,[38],NaN

In [160]:
whole_solution_df.query('n_couriers == 2')

,area,period,n_couriers,day,deliveries,employee_count,employees_assign,cost_outsource
10,10317,0,2.0,0,6.0,2.0,"[1, 26]",NaN
20,10437,0,2.0,0,7.0,2.0,"[42, 46]",NaN
38,10715,0,2.0,0,6.0,2.0,"[31, 33]",NaN
68,10315,1,2.0,0,8.0,2.0,"[1, 30]",NaN
80,10439,1,2.0,0,9.0,2.0,"[39, 41]",NaN
...,...,...,...,...,...,...,...,...
3195,10315,6,2.0,6,7.0,NaN,NaN,10.5
3225,10717,6,2.0,6,6.0,NaN,NaN,9.0
3243,10997,6,2.0,6,7.0,NaN,NaN,10.5
3252,10247,7,2.0,6,8.0,NaN,NaN,12.0
3258,10365,7,2.0,6,6.0,NaN,NaN,9.0

In [161]:
whole_solution_df.query('n_couriers == 2 & employee_count == 2')

,area,period,n_couriers,day,deliveries,employee_count,employees_assign,cost_outsource
10,10317,0,2.0,0,6.0,2.0,"[1, 26]",NaN
20,10437,0,2.0,0,7.0,2.0,"[42, 46]",NaN
38,10715,0,2.0,0,6.0,2.0,"[31, 33]",NaN
68,10315,1,2.0,0,8.0,2.0,"[1, 30]",NaN
80,10439,1,2.0,0,9.0,2.0,"[39, 41]",NaN
...,...,...,...,...,...,...,...,...
2979,10589,2,2.0,6,6.0,2.0,"[34, 43]",NaN
3073,10243,4,2.0,6,6.0,2.0,"[27, 41]",NaN
3085,10407,4,2.0,6,6.0,2.0,"[47, 51]",NaN
3135,10249,5,2.0,6,6.0,2.0,"[4, 32]",NaN
3148,10439,5,2.0,6,7.0,2.0,"[37, 51]",NaN